@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


body{
    font-weight: 400;
    font-size: 1.1rem;
    line-height: 1.7;
    font-family: 'Poppins', sans-serif;
}

.btn{
    font-family: inherit;
    cursor: pointer;
    outline: 0;
    font-size: 1.05rem;
}

.title{
    font-size: 2rem;
    margin-bottom: 1rem;
}

.container{
    min-height: 100vh;
}

.meal-wrapper{
    max-width: 1280px;
    text-align: center;
}

.meal-search{
    margin: 2rem 0;
}

.meal-search-box{
    margin: 1.2rem 0;
    display: flex;
}